@import "./homeSlider";
@import "./courses/courses";
@import "./whyToChooseSection/abouts";
@import "./highlight/highlight";
// @import "./testimonials/multiCarousel";
@import "./testimonials/testimonials";

@import "./welcomeToSection/aboutUs";
@import "./partner/partner";
@import "./blogs/blog";
@import "./news/_newsCarousel";
@import "./gallery/gallery";

.home-page {
  overflow-x: hidden;
 
}
