@import "./partnerCard";

.partner {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // position: relative;
  margin-top: 160px;
  height: max-content;
  padding-bottom: 7em;
  .in-wrapper {
    width: 1284.5px;
    padding: 0 45px;
    // height: 100%;
    .head {
      display: flex;
      justify-content: center;
      padding-bottom: 50px;
      text-align: center;
      font-size: 40px;
      color: $primaryDarkerBlue;
      width: 100%;
    }
    @media screen and (max-width: 550px) {
      .head {
        font-size: 30px;
      }
    }
    .cards-wrapper {
      // height: max-content;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 5em 3em;
      // margin-bottom: 5em;
    }
    @media screen and (max-width: 644px) {
      .cards-wrapper {
        gap: 2em;
        row-gap: 3em;
      }
    }
  }
  @media screen and (max-width: 1285px) {
    .in-wrapper {
      width: 100%;
    }
  }
  @media screen and (max-width: 550px) {
    .in-wrapper {
      padding: 15px;
    }
  }
}
@media screen and (max-width: 550px) {
  .partner {
    margin-top: 60px;
    padding-bottom: 3em;
  }
}
