@import "./sidebar";
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: $primaryOrange;
  // border-bottom: 1px solid $primaryOrange;
  .bottom-full {
    width: 1284.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    .logo {
      width: 220px;
      text-align: center;
    }
    .nav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-family: "Roboto", sans-serif;
      gap: 1em;
      .top-bar {
        display: flex;
        justify-content: end;
        gap: 3em;
        width: 100%;

        .social-icons {
          display: flex;
          gap: 18px;
          align-items: center;
          .icon {
            height: 20px;
            width: 20px;
            // color: $primaryDarkerBlue;
            color: #fff;

            cursor: pointer;
          }
        }
        .right {
          display: flex;
          gap: 15px;
          // color: $primaryDarkerBlue;
          color: #fff;
          font-size: 12px;
          font-family: "Roboto", sans-serif;
          .cursor-download {
            cursor: pointer;
          }
        }
      }
      .bottom-bar {
        display: flex;
        align-items: center;
        color: $primaryDarkerBlack;
        cursor: pointer;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        margin-top: 0.4em;
        .menu {
          display: flex;
          gap: 25px;
          align-items: center;
          .btn {
            cursor: pointer;
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            padding: 10px;
          }
          .nav-link {
            text-decoration: none;
            // color: $primaryDarkerBlue;
            color: #fff;
            font-size: 1.1rem;
          }
          .nav-link:active {
            color: $primaryOrange;
          }
          // Remove this duplicate definition
          // .nav-link {
          //   color: red;
          //   background-color: #000;
          // }
        }

        // -----------------dropdown----------------------

        .dropbtn {
          background-color: transparent;
          font-size: 1.1rem;
          border: none;
          // color: $primaryDarkerBlue;
          color: #fff;
        }

        .dropdown {
          position: relative;
          display: inline-block;

          &:hover .hidden-dropdown {
            display: block;
          }
        }

        .hidden-dropdown {
          height: max-content;
          width: max-content;
          display: none;
          position: absolute;
          min-width: 200px;
          padding-top: 20px;
          z-index: 2;
          .dropdown-content {
            width: 100%;
            height: 100%;
            line-height: 25px;
            border: 1px solid $primaryBrown;
            font-size: 1.1rem;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid $primaryDarkerBlue;
            background-color: #fff;
            // background-color: red;
            padding: 10px 0 0 10px;
            color: $primaryDarkerBlue;

            a {
              padding: 5px 0;
              text-decoration: none;
              display: block;
              color: $primaryDarkerBlue;
              padding: 0.5em 1em;
              // color: red;
            }

            .dropdown-content a:hover {
              background-color: $primaryOrange;
              color: #fff;
            }

            .nav-link {
              margin-bottom: 10px;
              color: $primaryDarkerBlue;
            }
          }
        }

        //-------------------end of dropdown------------------
      }
    }
    .toggle-icon {
      display: none;
      height: 30px;
      width: 30px;
      color: $primaryDarkerBlue;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: $primaryOrange;
      }
    }
    //responsive-start------------
    @media screen and (max-width: 1160px) {
      .nav {
        display: none;
      }
      .toggle-icon {
        display: block;
      }
    }
    @media screen and (max-width: 550px) {
      .logo {
        height: 40px;
        width: 100px;
      }
    }
    //responsive-end--------------
  }
  @media screen and (max-width: 550px) {
    .bottom-full {
      padding: 15px;
    }
    .logo {
      height: 35px;
      width: 80px;
    }
  }
}
