// ------------------------------------------------
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  width: 350px !important;
  .sidebar-logo {
    // width: 100% !important;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // color: $primaryDarkerBlue;
    // padding: 20px;
    // .logo {
    //   width: max-content !important;
    //   height: max-content !important;
    // .side-logo {
    //   // width: auto !important;
    //   width: 150px !important;
    //   max-width: 150px !important;
    //   // height: 40px !important;
    //   // width: 80px;
    // }
    // }
    .cancel {
      height: 25px;
      width: 25px;
      cursor: pointer;
      &:hover {
        color: $primaryOrange;
      }
    }
  }
  .menu-item {
    padding: 20px 20px 20px 28px;
    font-family: "Roboto", sans-serif;
    margin-top: 0.4em;
    height: 100% !important;
    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $primaryDarkerBlack;
      // padding: 5px;
      font-family: "Roboto", sans-serif;
      margin-top: 0.4em;
      .nav-link {
        text-decoration: none;
        color: $primaryDarkerBlack;
        color: $primaryDarkerBlue;
        cursor: pointer;
        font-size: 1.1rem;
      }
      .nav-link:active {
        color: $primaryOrange;
      }
    }
  }
}

// ---------------------------------------------
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  display: none !important;
}

.css-wf16b5 {
  width: 350px !important;
  height: 100vh !important;
}

.css-1ujsas3 {
  display: none !important;
}
