.scroll-to-btn {
  background-color: $primaryOrange;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  z-index: 999999999;
  cursor: pointer;
  //   position: absolute;
  //   top: 0;
  //   left: 0;

  .scroll-icon {
    color: #fff;
    height: 20px;
    width: 20px;
    
  }

}
