.blog-card {
  // height: 420px;

  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 8px 8px 25px rgba(230, 230, 230, 0.486);
  // height: 500px;
  // min-height: 320px;
  background-color: $primaryYellow;
  // &:hover {
  //   // margin-top: -1.5em;
  // }
  .b-img {
    border-radius: 8px;
    height: 45%;
    .blog-img {
      height: 100%;
      width: 100%;
      // border-radius: 8px;
      border-radius: 8px 8px 0 0;
    }
  }
  .content {
    background-color: $primaryDarkerBlue;
    padding-bottom: 1em;
    height: 100% !important;
    padding: 15px 20px 15px;
    .b-heading {
      // color: $primaryDarkBlue;
      color: $primaryBlue;
      font-size: 21px;
      // padding: 15px 20px;
      font-family: Roboto;
      color: #fff;
    }
    .b-desc {
      color: $primaryDarkBlue;
      color: rgb(66, 66, 66);
      color: #fff;
      // padding: 0 20px;
      margin-top: 10px;
      font-family: Roboto;
      font-weight: 300;
    }
  }
}
