@import "./blogCard";

.blog {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color: #fff;
  margin-bottom: 120px;
  padding: 0 45px;

  .all-card {
    width: 1284.5px;

    .heading {
      padding: 0 45px;
      text-align: center;
      font-size: 40px;
      color: $primaryDarkerBlue;
    }
    .blog-desc {
      color: $primaryGrey;
      padding-bottom: 40px;
      font-family: Roboto;
      text-align: center;
    }
    .blog-card-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      width: 1284.85px;
      gap: 2em;
      padding: 0 45px;
    }
  }
}
