@import "./memberCard";

.team-members-page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  .in-wrapper {
    width: 1284.5px;
    padding: 0 45px;
    .team-head {
      text-align: center;
      .news-head {
        font-size: 40px;
        color: $primaryDarkerBlue;
      }
      .news-text {
        margin-top: 5px;
        font-family: Roboto;
        color: $primaryGrey;
        text-align: center;
      }
    }
    .cards-wrapper {
      width: 100%;
      margin-top: 3em;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2em;
    }
    @media screen and (max-width: 1285px) {
      .cards-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 3em 3em;
      }
    }
    @media screen and (max-width: 950px) {
      .cards-wrapper {
        gap: 3em 1em;
      }
    }
    @media screen and (max-width: 850px) {
      .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em 1em;
      }
    }
    @media screen and (max-width: 500px) {
      .cards-wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
  @media screen and (max-width: 1284.5px) {
    .in-wrapper {
      width: 100%;
    }
  }
  .seebtn {
    margin: 50px 0 0;
    width: 100px;
    height: 35px;
    cursor: pointer;
    border: 1px solid $primaryOrange;
    border-radius: 20px;
    color: $primaryOrange;
    font-size: 16px;
    // background-color: $primaryOrange;
    background-color: transparent;
    transition: 0.3s;
    &:hover {
      background-color: $primaryOrange;
      color: #fff;
    }
  }
}
@media screen and (max-width: 550px) {
  .team-members-page {
    margin-top: 60px;
    .in-wrapper {
      width: 100%;
      padding: 15px;
      .team-head {
        .news-head {
          font-size: 30px;
        }
      }
    }
  }
}
