@import "./courseCard";

.courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 120px;
  .in-wrapper {
    width: 1284.5px;
    padding: 0 45px;

    // background-color: green;

    .h-course {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .heading {
        width: 1284.5px;
        text-align: center;
        font-size: 40px;
        color: $primaryDarkerBlue;
      }
      .course-desc {
        align-items: center;
        color: $primaryGrey;
        padding-bottom: 40px;
        font-family: Roboto;
      }
      @media screen and (max-width: 550px) {
        .heading {
          font-size: 30px;
        }
      }
    }
    .cards-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5em;
      // background-color: yellow;
    }
  }
  @media screen and (max-width: 1285px) {
    .in-wrapper {
      width: 100%;
    }
  }
  @media screen and (max-width: 1100px) {
    .in-wrapper {
      .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media screen and (max-width: 700px) {
    .in-wrapper {
      .cards-wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .in-wrapper {
      padding: 15px;
    }
  }
}
@media screen and (max-width: 650px) {
  .courses {
    margin-top: 60px;
  }
}
