.about-page {
  width: 100%;

  .banner {
    height: 340px;
    .banner-img {
      width: 100%;
      height: 100%;
    }
  }
  .intro-box {
    display: flex;
    justify-content: center;
    width: 100%;

    .intro {
      width: 1284.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 120px;
      padding: 0 40px;

      .intro-heading {
        color: $primaryDarkerBlue;
        text-align: left;
        width: 100%;
        font-size: 35px;
        padding-left: 10px;
      }
      .intro-desc {
        color: $primaryGrey;
        padding: 10px 10px 0;
        text-align: justify;
        font-size: 16px;
        font-family: Roboto;
      }

      @media screen and (max-width: 850px) {
        margin-top: 100px;
      }

      @media screen and (max-width: 550px) {
        margin-top: 10px;
        .intro-heading {
          font-size: 30px;
        }
      }
    }
  }
  .mission-vision {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    .mv-box {
      width: 1284.5px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      .mv-icon {
        color: $primaryDarkBlue;
      }
      .mission {
        width: 550px;

        .mission-heading {
          color: $primaryDarkerBlue;
          text-align: left;
          width: 100%;
          font-size: 35px;
          padding: 10px;
        }
        .mission-desc {
          color: $primaryGrey;
          padding: 10px;
          text-align: justify;
          font-size: 16px;

          font-family: Roboto;
        }
      }
      .vision {
        width: 550px;
        .vision-heading {
          color: $primaryDarkerBlue;
          text-align: left;
          width: 100%;
          font-size: 35px;
          padding: 10px;
        }
        .vision-desc {
          color: $primaryGrey;
          padding: 10px;
          text-align: justify;
          font-size: 16px;

          font-family: Roboto;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      .mv-box {
        .mission {
          width: 420px;
        }
        .vision {
          width: 420px;
        }
      }
    }
    @media screen and (max-width: 900px) {
      .mv-box {
        display: grid;
        grid-template-columns: 1fr;
        .mission {
          width: 100%;
        }
        .vision {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 550px) {
      .mv-box {
        display: grid;
        grid-template-columns: 1fr;
        .mission {
          width: 100%;
          font-size: 30px;
        }
        .vision {
          width: 100%;
          font-size: 30px;
        }
      }
    }
  }

  .experience {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $primaryDarkerBlue;
    margin-top: 120px;

    .experience-heading {
      // padding: 0px;
      font-size: 35px;
      padding-bottom: 10px;
    }
    .experience-desc {
      font-size: 16px;

      color: $primaryGrey;
      padding: 10px 40px;
      text-align: justify;
      width: 1284.5px;
      font-family: Roboto;
    }
    @media screen and (max-width: 1200px) {
      margin-top: 100px;
    }
    @media screen and (max-width: 1200px) {
      margin-top: 20px;
      .experience-heading {
        font-size: 35px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .experience-desc {
        width: 100%;
        padding: 10px 30px;
      }
    }
    @media screen and (max-width: 770px) {
      margin-top: 20px;
      .experience-heading {
        font-size: 35px;
        width: 100%;
        padding: 0 40px;
        display: flex;
        justify-content: center;
      }
      .experience-desc {
        width: 100%;
        padding: 10px 40px;
      }
    }
    @media screen and (max-width: 550px) {
      margin-top: 20px;
      .experience-heading {
        font-size: 30px;
        padding: 0 40px;

        width: 100%;

        display: flex;
        justify-content: center;
      }
      .experience-desc {
        width: 100%;

        padding: 10px 40px;
      }
    }
  }
  .consulant {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $primaryDarkerBlue;
    margin-top: 80px;

    .consulant-heading {
      // padding: 0px;
      font-size: 35px;
      padding-bottom: 10px;
    }
    .consulant-desc {
      font-size: 16px;

      color: $primaryGrey;
      padding: 10px 40px;
      text-align: justify;
      width: 1284.5px;
      font-family: Roboto;
    }
    @media screen and (max-width: 1200px) {
      margin-top: 30px;
      .consulant-heading {
        font-size: 35px;
        padding: 0 40px;

        width: 100%;
        display: flex;
        justify-content: center;
      }
      .consulant-desc {
        width: 100%;
        padding: 10px 40px;
      }
    }
    @media screen and (max-width: 550px) {
      margin-top: 20px;
      .consulant-heading {
        font-size: 30px;
        width: 100%;
        padding: 0 40px;
        display: flex;
        justify-content: center;
      }
      .consulant-desc {
        width: 100%;
        padding: 10px 40px;
      }
    }
  }
  .success {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $primaryDarkerBlue;
    margin-top: 80px;

    .success-heading {
      font-size: 35px;
      padding-bottom: 10px;
    }
    .success-desc {
      font-size: 16px;

      color: $primaryGrey;
      padding: 10px 40px;
      text-align: justify;
      width: 1284.5px;
      font-family: Roboto;
    }

    @media screen and (max-width: 1200px) {
      margin-top: 30px;
      .success-heading {
        font-size: 35px;
        width: 100%;
        padding: 0 40px;
        display: flex;
        justify-content: center;
      }
      .success-desc {
        width: 100%;
        padding: 10px 40px;
      }
    }
    @media screen and (max-width: 550px) {
      margin-top: 20px;
      .success-heading {
        font-size: 30px;
        padding: 0 40px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .success-desc {
        width: 100%;
        padding: 10px 40px;
      }
    }
  }
  @media screen and (max-width: 850px) {
    .banner {
      height: 210px;
      .banner-img {
        height: 200px;
      }
    }
  }

  @media screen and (max-width: 550px) {
    .banner {
      height: 145px;
      .banner-img {
        height: 140px;
      }
    }
  }
}
